__site/
.DS_Store
node_modules/
package-lock.json

./pages/scriptjulia.md
./_assets/images/pages/background/1*png
./_assets/images/pages/background/2*png
./_assets/images/pages/background/3*png
./_assets/images/pages/background/4*png
./_assets/images/pages/background/5*png
./_assets/images/pages/background/6*png
./_assets/images/pages/background/7*png
./_assets/images/pages/background/8*png
./_assets/images/pages/background/9*png
